<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Welcome!!!{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    {% block stylesheets %}
        <link href="{{ asset('build/styles.css') }}" rel="stylesheet" />
    {% endblock %}

</head>


<body class="ecommerce-page sidebar-collapse">
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <div class="logo-big">
                <a href="/"><img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/logo/auto.kz_white.png" alt="auto.kz" class="img-fluid"></a>
            </div>
            <div class="logo-small">
                <a href="/"><img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/logo/auto.kz.png" alt="auto.kz" class="img-fluid"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Продукция
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="/#oilMotor" class="dropdown-item">
                            МОТОРНЫЕ МАСЛА
                        </a>
                        <a href="/#oilTransmission" class="dropdown-item">
                            ТРАНСМИССИОННЫЕ МАСЛА
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="https://lubricants.petro-canada.com/ru-kz" class="nav-link" target="_blank">
                        <i class="material-icons">view_day</i> О Petro-Canada
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contactsMap" class="nav-link">
                        <i class="material-icons">view_carousel</i> Контакты
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



{% block content %}{% endblock %}


<footer class="footer footer-black footer-big">
    <div class="container align-items-center">
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <h5>О Petro-Canada</h5>
                    <div class="feed-line">
                        <a href="https://lubricants.petro-canada.com/ru-kz/about/our-story" class="" target="_blank"><p>История компании</p></a>
                    </div>
                    <div class="feed-line">
                        <a href="https://lubricants.petro-canada.com/ru-kz/industries/" class="" target="_blank"><p>Отрасли</p></a>
                    </div>
                    <div class="feed-line">
                        <a href="https://lubricants.petro-canada.com/ru-kz/knowledge-centre/all" class="" target="_blank"><p>Центр знаний</p></a>
                    </div>
                    <div class="feed-line">
                        <a href="https://lubricants.petro-canada.com/ru-kz/knowledge-centre/lube-360-services" class="" target="_blank"><p>Диагностика масел</p></a>
                    </div>
                </div>

                <div class="col-md-5">
                    <h5>Контакты</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <p>Консультации по смазочным технологиям:<br>
                                +7 (747) 111-34-11 Телефон / WhatsApp <br>
                                График работы: 10.00 - 19.00 (Сб. 11.00 - 15.00)<br>
                            </p>
                        </div>
                        <br>
                        <div class="feed-line">
                            <p>Call Center (общие вопросы):<br>
                                +7 (708) 111-00-55<br>
                                График работы: 24 /7<br>
                            </p>
                        </div>
                        <br>
                        <div class="feed-line">
                            <a href="https://www.auto.kz/leonet/registration/retail.php?DETAIL_NUM=" class="" target="_blank"><p>Регистрация на портале www.auto.kz</p></a>
                        </div>
                        <div class="feed-line">
                            <a href="https://www.auto.kz/leonet/saas/page/contact.php" class="" target="_blank"><p>Адреса филиалов auto.kz</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="">
                        <h5>Наши технологии</h5>
                        <p class="fa">
                            Powered By <a class="fa" href="https://symfony.com/" target="_blank">Symfony</a>
                            <img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/logo/logo_symfony_x35_transp.png" alt="The Symfony logo">
                        </p>
                        <p>
                            Надежный хостинг предоставлен <br><!--компанией PS.KZ-->
                            <a class="fa" href="https://ps.kz" target="_blank">
                                <img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/logo/logo_ps_79x25.png" alt="The Progressive Solutions company">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class="">
                        <script>
                            document.write(new Date().getFullYear())
                        </script> &#xA9;auto.kz
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script src="https://widget.cloudpayments.kz/bundles/cloudpayments"></script>
<script type="text/javascript">


</script>
</body>

</html>
